* {
  color: #141313;
}
body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
a {
  cursor: pointer;
  text-decoration: none;
  padding: 0 5px;
}
a:hover {
  text-decoration: underline;
}
input {
  padding-left: 2px;
}
.header {
  background-color: #545454;
  border-bottom: 1px solid #403F3F;
  box-shadow: 0 0 10px #000;
  margin-bottom: 20px;
}
.header h1 {
  font-size: 24pt;
  margin: 8px 0 0 4px;
}
.header h1 a {
  display: inline-block;
}
.header h1 a:hover {
  text-decoration: none;
}
.header h1 span {
  color: #F2EEEE;
}
.header h1 .beta {
  color: #C8C0C0;
  font-size: 22px;
}
.header .control {
  margin: 12px 10px 0 0;
}
.header .control img {
  width: 25px;
}
.header .control .name {
  font-weight: bold;
}
.header .control span {
  color: #F0F0F0;
}
.header .control a {
  color: #F0F0F0;
  font-size: 12pt;
  font-weight: 550;
  text-shadow: 0 -1px 1px #000000;
}
.header .control a:hover {
  text-shadow: 0 0 1px #fff;
  text-decoration: none;
}
span.verify {
  color: red;
}
div.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
body {
  background-color: #f0f0f0;
}
.footer {
  margin: 10px 0;
  font-size: small;
  opacity: 0.7;
  background-color: #f0f0f0;
  clear: both;
}
.footer .c {
  border-top: 1px solid #d3d3d3;
  padding: 10px;
  text-align: center;
}
.footer ul {
  list-style: none;
}
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.clear-fix-after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
ul.comment {
  clear: both;
  padding-top: 10px;
  margin-left: 0;
}
ul.comment li.comment {
  padding: 5px;
  overflow: hidden;
}
.box {
  background-color: #FFFFFF;
  border-bottom: 2px solid #E2E2E9;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.index-top {
  background-color: #FFFFFF;
  border-bottom: 2px solid #E2E2E9;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid #E2E2E2;
}
.at-box {
  border: 1px solid #555;
  width: 340px;
}
.at-box li {
  border-left: 3px solid #666;
  margin: 5px;
}
.at-box li:hover {
  cursor: pointer;
  background-color: #ddd;
}
.del-link {
  font-size: 10pt;
  color: #DD204C;
}
.btn-base {
  cursor: auto;
}
.btn-base:hover {
  cursor: pointer;
}
.ok-btn-base {
  cursor: auto;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #ccc;
  padding: 5px 10px;
}
.ok-btn-base:hover {
  cursor: pointer;
}
.ok-btn-base:hover {
  background-color: #fff;
  cursor: pointer;
}
.ta-base {
  border: 1px solid #999;
  color: #aaa;
}
.ta-base:hover {
  border-color: #666;
}
.ta-base:focus {
  border-color: #666;
  color: #333;
}
li.twit,
div.twit {
  background-color: #fff;
  padding: 20px 10px;
  border-bottom: 1px solid #bababa;
}
li.twit:first-child,
div.twit:first-child {
  border-radius: 6px 6px 0 0;
}
li.twit:last-child,
div.twit:last-child {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}
li.twit a,
div.twit a {
  color: #04553C;
  font-size: 12pt;
}
li.twit div .name,
div.twit div .name {
  font-size: 15pt;
}
li.twit a.login-need,
div.twit a.login-need {
  border: 3px dotted #666;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  display: block;
  color: #B18282;
}
li.twit a.login-need:hover,
div.twit a.login-need:hover {
  text-decoration: none;
  color: #844949;
}
li.twit .content .in:after,
div.twit .content .in:after,
li.twit .info:after,
div.twit .info:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
li.twit div.image,
div.twit div.image {
  clear: both;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #5b5b5b;
}
li.twit div.image img,
div.twit div.image img {
  display: block;
  margin: auto;
}
li.twit .origin,
div.twit .origin {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
li.twit .origin:after,
div.twit .origin:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
li.twit .control,
div.twit .control {
  text-align: right;
  padding-top: 10px;
  clear: both;
}
li.twit .control .time,
div.twit .control .time,
li.twit .control .scene,
div.twit .control .scene {
  float: left;
  margin: 0 5px;
  font-size: 11pt;
}
li.twit .control .del,
div.twit .control .del {
  font-size: 10pt;
  color: #DD204C;
  display: none;
}
li.twit a.edit,
div.twit a.edit {
  float: right;
}
li.twit div.comment,
div.twit div.comment {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
li.twit div.comment .comment-form textarea,
div.twit div.comment .comment-form textarea {
  border: 1px solid #999;
  color: #aaa;
  height: 1.5em;
  width: 100%;
}
li.twit div.comment .comment-form textarea:hover,
div.twit div.comment .comment-form textarea:hover {
  border-color: #666;
}
li.twit div.comment .comment-form textarea:focus,
div.twit div.comment .comment-form textarea:focus {
  border-color: #666;
  color: #333;
}
li.twit div.comment .comment-form .avatar,
div.twit div.comment .comment-form .avatar,
li.twit div.comment .comment-form input,
div.twit div.comment .comment-form input {
  display: none;
}
li.twit div.comment .comment-form.on .avatar,
div.twit div.comment .comment-form.on .avatar {
  display: inline-block;
}
li.twit div.comment .comment-form.on textarea,
div.twit div.comment .comment-form.on textarea {
  height: 50px;
  width: 566px;
  display: inline-block;
  float: right;
}
li.twit div.comment .comment-form.on input,
div.twit div.comment .comment-form.on input {
  display: block;
  clear: both;
  float: right;
  border-top: none;
  font-size: 18px;
}
li.twit div.comment .comment-form.on input[disabled],
div.twit div.comment .comment-form.on input[disabled] {
  color: #666;
}
li.twit div.comment .comment-form.on input[disabled]:hover,
div.twit div.comment .comment-form.on input[disabled]:hover {
  background-color: #ccc;
  cursor: not-allowed;
}
li.twit div.comment li.comment img,
div.twit div.comment li.comment img {
  width: 25px;
  vertical-align: bottom;
}
li.twit .pop-panel span,
div.twit .pop-panel span {
  display: inline-block;
  padding: 10px;
}
li.twit:hover .del {
  display: inline;
}
.box-bg {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
.role .search-add-role-form {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
.role .search-add-role-form ul.role-list li {
  margin-left: 5em;
}
.role .search-add-role-form ul.role-list li a {
  display: block;
  padding: 10px;
}
.role .search-add-role-form ul.role-list li a:hover {
  background-color: #ddd;
}
.role .search-add-role-form ul.role-list li.on a {
  background-color: #ddd;
}
.role dl {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
.role dl dt {
  font-size: 32px;
}
.role dl dd {
  border-left: 3px solid #555;
  background-color: #dde1e1;
  margin: 5px;
  padding: 5px;
}
.role dl dd .control {
  margin: 0.5em;
}
.role dl dd:hover {
  background-color: #ddd;
}
.role-info .nav-bar {
  margin: 10px;
}
.role-info .nav-bar a.switch {
  float: right;
}
.role-info .info,
.role-info div.tag,
.role-info .edit-role-form {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
a.del {
  color: red;
}
div.tag {
  clear: both;
}
div.tag ul li {
  float: left;
}
div.tag ul li a,
div.tag ul li span {
  display: block;
  margin: 5px;
  padding: 2px 6px;
  background-color: #595C59;
  border-radius: 4px;
  color: #EADDDD;
  font-size: 10pt;
}
div.tag ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
div.tag .add-tag-form input[type="text"] {
  width: 6em;
}
div.scene-list li {
  background-color: #E3E6F8;
  border: 1px solid #0C14A0;
  margin: 10px;
}
div.scene-list li h3 {
  margin: 5px;
  font-weight: bold;
  color: #283788;
}
div.scene-list li .description {
  color: #6A6A6F;
  margin: 5px;
  font-size: 10pt;
}
div.scene-list li a {
  font-size: 10pt;
}
div.scene-list li a.goto {
  float: right;
}
.help p {
  text-indent: 2em;
  line-height: 1.5em;
}
.help p a {
  text-decoration: underline;
}
.help img {
  display: block;
  margin: auto;
}
.credit dl {
  line-height: 1.5em;
}
.credit dl dt {
  font-weight: bold;
  line-height: 2em;
}
.admin h2 {
  font-weight: bold;
  font-size: 20pt;
  margin-top: 10px;
}
.admin li {
  border: 1px solid #999;
  margin: 5px;
}
.admin table {
  margin: 10px;
}
.admin table td,
.admin table th {
  border: 1px solid #333;
  padding: 5px;
}
@media screen and (min-width: 319px) and (max-width: 959px) {
  a {
    font-weight: bold;
    text-decoration: underline;
  }
  img {
    max-width: 100%;
  }
  .header .control {
    margin: 1em;
    clear: both;
  }
  .header:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
  .footer ul li {
    margin: 10px;
  }
  .index {
    width: 100%;
  }
  .index .choose,
  .index .post-form {
    width: 100%;
  }
  .index ul.twit {
    width: 100%;
  }
  .index ul.twit li.twit .origin {
    margin: 0;
  }
  .role {
    width: 100%;
  }
  .help p {
    width: 100%;
  }
}
.in-wrap {
  width: 800px;
  margin: auto;
}
@media screen and (min-width: 960px) {
  .header h1 {
    float: left;
  }
  .header .control {
    float: right;
  }
  .header:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
  .footer ul li {
    float: left;
  }
  li.twit .image img,
  div.twit .image img {
    max-width: 580px;
  }
  li.twit div.retweet .retweet-form textarea,
  div.twit div.retweet .retweet-form textarea {
    width: 513px;
  }
  .index {
    width: 800px;
    margin: auto;
  }
  .index div.scene-twit ul.scene {
    float: right;
    width: 110px;
  }
  .index div.scene-twit ul.twit {
    float: left;
    width: 690px;
  }
  .role {
    width: 800px;
    margin: auto;
  }
  .role dd .info {
    float: left;
  }
  .role dd .control {
    float: right;
  }
  .role dd:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
  .role-info {
    width: 690px;
    margin: auto;
  }
  .role-info .info .recent {
    float: right;
  }
  div.twit {
    width: 800px;
    margin: auto;
  }
  div.scene-list {
    margin: auto;
    width: 890px;
  }
  div.scene-list li {
    float: left;
    width: 200px;
  }
  .help p {
    width: 600px;
    margin: auto;
  }
}
.high {
  padding: 5px;
  border: 1px solid #CAC5C5;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
}
ul.twit {
  list-style-type: none;
}
.index div.post {
  background-color: #FFFFFF;
  border-bottom: 2px solid #E2E2E9;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid #E2E2E2;
  margin: 5px 0;
  padding: 10px;
  color: #000;
}
.index div.post a.know {
  float: right;
  color: #C93351;
}
.index .scene .name {
  font-weight: bold;
}
.index .scene .del {
  font-size: 10pt;
  color: #DD204C;
}
.index div.remind {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
.index div.remind ul {
  margin: 10px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #A6A6A6;
}
.index div.remind ul li {
  margin: 10px;
}
.index .choose {
  background-color: #FFFFFF;
  border-bottom: 2px solid #E2E2E9;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
}
.index .choose a {
  color: blue;
}
.index .new-msg {
  display: block;
  background-color: #FfFeE2;
  border: 1px solid #F1F097;
  text-align: center;
  padding: 10px 0;
  color: #B78B28;
  margin: 10px 0;
}
.index .content-top ul.sort li {
  float: left;
  margin: 20px 2px 0 0;
}
.index .content-top ul.sort li a {
  background-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  line-height: 13px;
  margin-right: 5px;
  padding: 5px 8px;
}
.index .content-top ul.sort li a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  color: #000;
}
.index .content-top ul.sort li.on a {
  font-weight: bold;
  background-color: #333344;
  color: #FFFFFF;
}
.index .content-top .control {
  margin: 20px 0 10px 0;
  float: right;
}
.index div.scene-twit {
  clear: both;
}
.index div.scene-twit ul.scene {
  padding-top: 10px;
}
.index div.scene-twit ul.scene .on a {
  background-color: #333344;
  font-weight: bold;
  color: #fff;
}
.index div.scene-twit ul.scene .on a:hover {
  background-color: #333344;
  color: #fff;
}
.index div.scene-twit ul.scene a {
  display: block;
  color: #555555;
  margin: 5px 0 5px 10px;
  border-radius: 6px 6px 6px 6px;
  padding: 10px 5px;
  background-color: #fff;
}
.index div.scene-twit ul.scene a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  color: #000;
}
.index div.scene-twit ul.scene .add a {
  background-color: #AEAEAE;
}
.index div.scene-twit ul.twit {
  list-style-type: none;
  margin: auto;
  padding: 10px 0;
}
.index div.scene-twit:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.index .paginate {
  float: right;
}
